@media screen and (max-width: 1440px) and (min-width:376px) {
@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(233, 229, 229);
}

.container {
  background-color: rgb(236, 240, 243);
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  /*justify-content: center;
  /*align-items: center;
  position: relative;*/
  background-image: url("bg-hero-desktop.svg");
  background-size: 100vh;
  background-repeat: no-repeat;
}
.container-1 {
  background-color: aliceblue;
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 260px;
}
.container-2 {
  background-color: rgb(252, 251, 253);
  width: 35%;
  height: 80%;
  z-index: 0;
  position: absolute;
  top: 132px;
  left: 260px;
}
.box1 {
  background-color: rgb(250, 253, 253);
  height: 25%;
  width: 80%;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

  #img1, #img7{
background-image: url('illustration-flowing-conversation.svg');
background-size: 30vh;
background-repeat: no-repeat;
  }
  

.box2 {
  background-color: rgb(247, 252, 252);
  height: 8rem;
  width: 80%;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/*Styling for box1 image.*/
  #img2{
    background-image: url('illustration-your-users.svg');
    background-size: 30vh;
  background-repeat: no-repeat;
  background-position: right;
  }



.box3 {
  background-color: rgb(12, 71, 59);
  z-index: 0;
  position: absolute;
  height: 10rem;
  width: 100%;

  bottom: 0%;
  /*margin-left: auto;
  margin-right: auto;*/
}
.box4 {
  background-color: rgb(251, 252, 246);
  width: 50%;
  height: 6rem;
  border-radius: 8px;
  right: -25%;
  position: relative;
  bottom: -10%;
}
.box5 {
  background-color: rgb(255, 255, 255);
  height: 12rem;
  /*z-index: 0;*/
 

}

.box6 {
  background-color: rgb(241, 239, 250);
  height: 10rem;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  
}
/*this contains image for box6*/
#img6{
  background-image: url('illustration-grow-together.svg');
  background-size: 30vh;
  background-repeat: no-repeat;
  background-position: right;
}
.box7 {
  background-color: rgb(251, 252, 246);
  height: 10rem;
  margin-top: 6px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.box8 {
  /*background-color: rgb(202, 60, 35);*/
  height: 10rem;
  width: 40%;
  margin-left: 50%;}

  #img8{
  background-image: url("illustration-mockups.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  /*position: relative;
  bottom:5px*/
  }
  .btn {
    background-color: hsl(322, 100%, 66%);
    border-radius: 15px;
    border: none;
    font-size: 10px;
    text-align: center;
    font-family: "open-Sans";
    height: 2rem;
    width: 10rem;
    margin-top: 20px;
    margin-left: 38px;
    margin-bottom: 15px;
  }
  .box4 p {
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
  }
}

/*@media screen and (max-width: 1440px) {
  .container {
    flex-direction: column;
    background-color: blueviolet;
    width: 100%;
  }
  .container-1 {
    height: 35%;
    width: 100vh;
  }
  .container-2 {
    height: 35%;
    width: 100%;
  }
}*/
@media screen and (max-width: 375px) {
  .container {
    display: flex;
    background-color: rgb(243, 240, 247);
    height: 100%;
    width: 100%;
    position:absolute;
  }
  .container-1 {
    height: 15%;
    width: 100%;
    flex-direction:column ;
    position:relative;
   top:0px ;
    left:0;
  }
  .container-2 {
    height: 15%;
    width: 100%;
    flex-direction: column;
    margin:0px;
    z-index:1px;
  }
  .box1 {
    background-color: rgb(250, 253, 253);
    height: 25%;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  
    #img1, #img7{
  background-image: url('illustration-flowing-conversation.svg');
  background-size: 30vh;
  background-repeat: no-repeat;
    }
    
  
  .box2 {
    background-color: rgb(247, 252, 252);
    height: 8rem;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  /*Styling for box1 image.*/
    #img2{
      background-image: url('illustration-your-users.svg');
      background-size: 30vh;
    background-repeat: no-repeat;
    background-position: right;
    }
  
  
  
  .box3 {
    background-color: rgb(12, 71, 59);
    z-index: 0;
    position: absolute;
    height: 10rem;
    width: 100%;
  
    bottom: 0%;
    /*margin-left: auto;
    margin-right: auto;*/
  }
  .box4 {
    background-color: rgb(251, 252, 246);
    width: 50%;
    height: 6rem;
    border-radius: 8px;
    right: -25%;
    position: relative;
    bottom: -10%;
  }
  .box5 {
    background-color: rgb(255, 255, 255);
    height: 12rem;
    /*z-index: 0;*/
   
  
  }
  
  .box6 {
    background-color: rgb(241, 239, 250);
    height: 10rem;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
  }

  /*this contains image for box6*/
  #img6{
    background-image: url('illustration-grow-together.svg');
    background-size: 30vh;
    background-repeat: no-repeat;
    background-position: right;
  }
  .box7 {
    background-color: rgb(251, 252, 246);
    height: 10rem;
    margin-top: 6px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  .box8 {
    /*background-color: rgb(202, 60, 35);*/
    height: 10rem;
    width: 40%;
    margin-left: 50%;}
  
    #img8{
    background-image: url("illustration-mockups.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    }
.btn {
  background-color: hsl(322, 100%, 66%);
  border-radius: 15px;
  border: none;
  font-size: 10px;
  text-align: center;
  font-family: "open-Sans";
  height: 2rem;
  width: 10rem;
  margin-top: 20px;
  margin-left: 38px;
  margin-bottom: 15px;
}
.box4 p {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
}
}

/*#img1{
  width:10%;
  height:10vh;
}*/
